*,*:after,*:before {
    box-sizing: inherit
}

html {
    box-sizing: border-box;
    font-size: 62.5%
}

body {
    color: #212121;
    background-color: #fafafa;
    font-family: Merriweather,Georgia,serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.8em
}

@media only screen and (max-width: 768px) {
    body {
        font-size:1.6em;
        line-height: 1.6em
    }
}

a {
    font-weight: 300;
    color: #1565c0;
    text-decoration: none
}

a:focus,a:hover {
    text-decoration: underline
}

p {
    margin: 2rem 0
}

h1,h2,h3,h4,h5,h6 {
    font-family: Lato,Helvetica,sans-serif;
    font-weight: 700;
    color: #000;
    margin: 6.4rem 0 3.2rem
}

h1 {
    font-size: 3.2rem;
    line-height: 3.6rem
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size:3rem;
        line-height: 3.4rem
    }
}

h2 {
    font-size: 2.8rem;
    line-height: 3.2rem
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size:2.6rem;
        line-height: 3rem
    }
}

h3 {
    font-size: 2.4rem;
    line-height: 2.8rem
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size:2.2rem;
        line-height: 2.6rem
    }
}

h4 {
    font-size: 2.2rem;
    line-height: 2.6rem
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size:2rem;
        line-height: 2.4rem
    }
}

h5 {
    font-size: 2rem;
    line-height: 2.4rem
}

@media only screen and (max-width: 768px) {
    h5 {
        font-size:1.8rem;
        line-height: 2.2rem
    }
}

h6 {
    font-size: 1.8rem;
    line-height: 2.2rem
}

@media only screen and (max-width: 768px) {
    h6 {
        font-size:1.6rem;
        line-height: 2rem
    }
}

b,strong {
    font-weight: 700
}

pre {
    display: block;
    font-family: source code pro,lucida console,monospace;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin: 2rem 0;
    padding: 2rem;
    overflow-x: auto
}

pre code {
    display: inline-block;
    background-color: inherit;
    color: inherit
}

code {
    font-family: source code pro,lucida console,monospace;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #e0e0e0;
    color: #212121;
    padding: .2rem .4rem
}

blockquote {
    border-left: 2px solid #e0e0e0;
    padding-left: 2rem;
    line-height: 2.2rem;
    font-weight: 400;
    font-style: italic
}

th,td {
    padding: 1.6rem
}

table {
    border-collapse: collapse
}

table td,table th {
    border: 2px solid #000
}

table tr:first-child th {
    border-top: 0
}

table tr:last-child td {
    border-bottom: 0
}

table tr td:first-child,table tr th:first-child {
    border-left: 0
}

table tr td:last-child,table tr th:last-child {
    border-right: 0
}

img {
    max-width: 100%
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%
}

.container {
    margin: 0 auto;
    max-width: 90rem;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem
}

.fab {
    font-weight: 400
}

.fas {
    font-weight: 700
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.fab {
    font-weight: 400
}

.fas {
    font-weight: 900
}

.content {
    flex: 1;
    display: flex;
    margin-top: 1.6rem;
    margin-bottom: 3.2rem
}

.content article header {
    margin-top: 6.4rem;
    margin-bottom: 3.2rem
}

.content article header h1 {
    font-size: 4.2rem;
    line-height: 4.6rem;
    margin: 0
}

@media only screen and (max-width: 768px) {
    .content article header h1 {
        font-size:4rem;
        line-height: 4.4rem
    }
}

.content article footer {
    margin-top: 4rem
}

.content article footer .see-also {
    margin: 3.2rem 0
}

.content article footer .see-also h3 {
    margin: 3.2rem 0
}

.content .post .post-title {
    margin-bottom: .75em
}

.content .post .post-meta i {
    text-align: center;
    width: 1.6rem;
    margin-left: 0;
    margin-right: .5rem
}

.content .post .post-meta .date .posted-on {
    margin-left: 0;
    margin-right: 1.5rem
}

.content figure {
    margin: 0;
    padding: 0
}

.content figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0
}

.avatar img {
    width: 20rem;
    height: auto;
    border-radius: 50%
}

@media only screen and (max-width: 768px) {
    .avatar img {
        width:10rem
    }
}

.list ul {
    margin: 3.2rem 0;
    list-style: none;
    padding: 0
}

.list ul li {
    font-size: 1.8rem
}

@media only screen and (max-width: 768px) {
    .list ul li {
        margin:1.6rem 0
    }
}

.list ul li .date {
    display: inline-block;
    width: 20rem;
    text-align: right;
    margin-right: 3rem
}

@media only screen and (max-width: 768px) {
    .list ul li .date {
        display:block;
        text-align: left
    }
}

.list ul li .title {
    font-size: 1.8rem;
    color: #212121;
    font-family: Lato,Helvetica,sans-serif;
    font-weight: 700
}

.list ul li .title:hover,.list ul li .title:focus {
    color: #1565c0
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center
}

.centered .about {
    text-align: center
}

.centered .about h1 {
    margin-top: 2rem;
    margin-bottom: .5rem
}

.centered .about h2 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2.4rem
}

@media only screen and (max-width: 768px) {
    .centered .about h2 {
        font-size:2rem
    }
}

.centered .about ul {
    list-style: none;
    margin: 3rem 0 1rem;
    padding: 0
}

.centered .about ul li {
    display: inline-block;
    position: relative
}

.centered .about ul li a {
    color: #212121;
    text-transform: uppercase;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem
}

.centered .about ul li a:hover,.centered .about ul li a:focus {
    color: #1565c0
}

@media only screen and (max-width: 768px) {
    .centered .about ul li a {
        font-size:1.4rem
    }
}

.centered .about ul li a i {
    font-size: 3.2rem
}

.centered .error {
    text-align: center
}

.centered .error h1 {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 4.6rem
}

@media only screen and (max-width: 768px) {
    .centered .error h1 {
        font-size:3.2rem
    }
}

.centered .error h2 {
    margin-top: 2rem;
    margin-bottom: 3.2rem;
    font-size: 3.2rem
}

@media only screen and (max-width: 768px) {
    .centered .error h2 {
        font-size:2.8rem
    }
}
#donate-button-container {
    display: grid;
    justify-content: center;
    text-decoration: none;
    
  }

.navigation {
    height: 6rem;
    width: 100%
}

.navigation a,.navigation span {
    display: inline;
    font-size: 1.6rem;
    font-family: Lato,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 6rem;
    color: #212121
}

.navigation a:hover,.navigation a:focus {
    color: #1565c0
}

.navigation .navigation-title {
    letter-spacing: .1rem;
    text-transform: uppercase
}

.navigation .navigation-list {
    float: right;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0
}

@media only screen and (max-width: 768px) {
    .navigation .navigation-list {
        position:absolute;
        top: 6rem;
        right: 0;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        padding: 0;
        max-height: 0;
        width: 100%;
        background-color: #fafafa;
        border-top: solid 2px #e0e0e0;
        border-bottom: solid 2px #e0e0e0;
        transition: opacity .25s,max-height .15s linear
    }
}

.navigation .navigation-list .navigation-item {
    float: left;
    margin: 0;
    position: relative
}

@media only screen and (max-width: 768px) {
    .navigation .navigation-list .navigation-item {
        float:none!important;
        text-align: center
    }

    .navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span {
        line-height: 5rem
    }
}

.navigation .navigation-list .navigation-item a,.navigation .navigation-list .navigation-item span {
    margin-left: 1rem;
    margin-right: 1rem
}

@media only screen and (max-width: 768px) {
    .navigation .navigation-list .menu-separator {
        border-top:2px solid #212121;
        margin: 0 8rem
    }

    .navigation .navigation-list .menu-separator span {
        display: none
    }
}

.navigation #menu-toggle {
    display: none
}

@media only screen and (max-width: 768px) {
    .navigation #menu-toggle:checked+label {
        color:#e0e0e0
    }

    .navigation #menu-toggle:checked+label+ul {
        visibility: visible;
        opacity: 1;
        max-height: 100rem
    }
}

.navigation .menu-button {
    display: none
}

@media only screen and (max-width: 768px) {
    .navigation .menu-button {
        display:block;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 6rem;
        color: #212121;
        cursor: pointer
    }

    .navigation .menu-button:hover,.navigation .menu-button:focus {
        color: #1565c0
    }
}

.pagination {
    margin-top: 6rem;
    text-align: center;
    font-family: Lato,Helvetica,sans-serif
}

.pagination li {
    display: inline;
    text-align: center;
    font-weight: 700
}

.pagination li span {
    margin: 0;
    text-align: center;
    width: 3.2rem
}

.pagination li a {
    font-weight: 300
}

.pagination li a span {
    margin: 0;
    text-align: center;
    width: 3.2rem
}




#popup-form-container {
    display: none;
    position: fixed;
    z-index: 1000;
    border-radius: 10px;
    padding: 45px;
    width: 40%;
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(5px);
    background-color: #ffffff85;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: auto;
    @media screen and (max-width: 991px) {
      width: 70%;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }
    .form-head {
      font-size: 25px;
      line-height: 40px;
      font-weight: 100;
      text-align: right;
      margin: 0px 0 10px;
    }
    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      .form-card {
        position: relative;
        width: 100%;

        .form-input {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid #212121;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid #515151;
          }

          &:valid ~ .form-label,
          &:focus ~ .form-label {
            color: #515151;
            top: 30%;
            transform: translateY(-70%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .form-label {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
        .form-textarea {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid #212121;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          resize: none;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid #515151;
          }

          &:valid ~ .form-textarea-label,
          &:focus ~ .form-textarea-label {
            color: #515151;
            top: 18%;
            transform: translateY(-82%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
        }
        .form-textarea-label {
          position: absolute;
          left: 25px;
          top: 30%;
          transform: translateY(-70%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
      }
    }

}




.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0 0;
  }

.btn-wrap button {
    color: #fafafa;
    background-color: #212121;
    padding: 0 32px;
    font-size: 18px;
    line-height: 48px;
    border: 1px solid transparent;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer; 
    box-shadow: 0 0 5px 5px #f5f1f120;
}
.btn-wrap button:hover {
    /* border: 2px solid #DB3483; */
    background: #1565c0;
}

/* #rafflePoolTextArea {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

#close-popup { 
    position: relative; 
    transition: all 200ms;
    font-size: 15px; 
    font-weight: bold; 
    text-decoration: none; 
    color: #212121; 
    cursor: pointer;
    width: 100%;
    text-align-last: right;
}

#close-popup:hover { 
    color: orange; 
}

#sponsor-wrapper {
    background-color: #fafafa   ; /* Set your desired background color */
    padding: 2rem; /* Add some padding for spacing */
    /* text-align: left; Center the content horizontally */
}

#sponsor-wrapper h2 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
	margin-bottom: 0;
}

.sponsorsWrap {
	padding: 0;
	margin: 1rem auto;
	list-style: none;
	text-align: center;
}
.sponsorsWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 0.3rem 0.3rem 2rem;
	position: relative;
	vertical-align: top;
	margin: 10px;
	min-height: 1ch;
	/* background: #262a2b; */
	/* border: 1px solid #252727; */
	text-align: left;
}

.sponsorsWrap li a {
	margin-bottom: 5px;
}




.sponsorsWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}

.sponsor-wrapper .form-row {
    margin-bottom: 10px;
}

.sponsor-wrapper .form-input {
    display: block;
}

.sponsor-wrapper .form-error {
    color: red;
}


.toast { 
	position: fixed; 
	top: 25px; 
	right: 25px; 
	max-width: 300px; 
	background: #fff; 
	padding: 0.5rem; 
	border-radius: 4px; 
	box-shadow: -1px 1px 10px
		rgba(0, 0, 0, 0.3); 
	z-index: 1023; 
	animation: slideInRight 0.3s 
			ease-in-out forwards, 
		fadeOut 0.5s ease-in-out 
			forwards 3s; 
	transform: translateX(110%); 
} 

.toast.closing { 
	animation: slideOutRight 0.5s 
		ease-in-out forwards; 
} 

.toast-progress { 
	position: absolute; 
	display: block; 
	bottom: 0; 
	left: 0; 
	height: 4px; 
	width: 100%; 
	background: #b7b7b7; 
	animation: toastProgress 3s 
		ease-in-out forwards; 
} 

.toast-content-wrapper { 
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
} 

.toast-icon { 
	padding: 0.35rem 0.5rem; 
	font-size: 1.5rem; 
} 

.toast-message { 
	flex: 1; 
	font-size: 0.9rem; 
	color: #000000; 
	padding: 0.5rem; 
} 

.toast.toast-success { 
	background: #95eab8; 
} 

.toast.toast-success .toast-progress { 
	background-color: #2ecc71; 
} 

.toast.toast-danger { 
	background: #efaca5; 
} 

.toast.toast-danger .toast-progress { 
	background-color: #e74c3c; 
} 

.toast.toast-info { 
	background: #bddaed; 
} 

.toast.toast-info .toast-progress { 
	background-color: #3498db; 
} 

@keyframes slideInRight { 
	0% { 
		transform: translateX(110%); 
	} 

	75% { 
		transform: translateX(-10%); 
	} 

	100% { 
		transform: translateX(0%); 
	} 
} 

@keyframes slideOutRight { 
	0% { 
		transform: translateX(0%); 
	} 

	25% { 
		transform: translateX(-10%); 
	} 

	100% { 
		transform: translateX(110%); 
	} 
} 

@keyframes fadeOut { 
	0% { 
		opacity: 1; 
	} 

	100% { 
		opacity: 0; 
	} 
} 

@keyframes toastProgress { 
	0% { 
		width: 100%; 
	} 

	100% { 
		width: 0%; 
	} 
}



.footer {
    width: 100%;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem
}

.footer a {
    color: #1565c0
}
